@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  font-family: "Quicksand";
}








.slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #f9f9f9; /* Optional background */
  padding: 10px 0;
}

.slider {
  display: flex;
  animation: slide 30s linear infinite; /* Adjust duration for speed */
  width: calc(200%); /* Enough space for original and duplicate images */
}

.slider img {
  width: 100px; /* Adjust as needed */
  margin: 0 15px;
  flex-shrink: 0; /* Prevent images from shrinking */
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
 

